{% extends "UnoegohhShopBundle:Default:index.html.twig" %}

{% block main %}
    <div class="container clearfix">

    <div class="sixteen columns"> <h1 class="page-title">{{ item.name }}<span class="line"></span></h1>
    </div><!-- Page Title -->


    <!-- Start Single Post -->
    <div class="eleven columns top bottom">

    <!-- ==================== Single Post ==================== -->
    <div class="post gallery bottom">

    <!-- Title Post -->

    <div class="post-meta bottom-2 transparent">
        <div class="meta"><span class="history  icon gray"></span> Опубликованно {{ item.date | date('d.m.y') }} </div><!-- Date -->
    </div><!-- End post-meta -->

    <div class="post-content bottom">

        {{ item.Descr | raw }}
    </div><!-- End post-content -->




    </div><!-- End Sidebar Widgets -->


    <div class="clearfix"></div>





    </div>
{% endblock %}