
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Список друзей</small>
            </h1>
        </div>
    </div>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="row">

        <div class="col-md-6">
            <div class="block">
                <div class="block-title">
                    <h2><strong>Список </strong> друзей</h2>
                </div>
                <div class="list-group">
                    <a href="javascript:void(0)" class="list-group-item">
                        <span class="badge">X</span>
                        <h4 class="list-group-item-heading">Юрий кармаков</h4>
                        <p class="list-group-item-text">unoegohh(unoegohh@gmail.com) </p>
                    </a>
                    <a href="javascript:void(0)" class="list-group-item">
                        <span class="badge">X</span>
                        <h4 class="list-group-item-heading">Юрий кармаков</h4>
                        <p class="list-group-item-text">unoegohh(unoegohh@gmail.com) </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <div class="block-title">
                    <h2><strong>Добавление друга</strong></h2>
                </div>
                <form action="page_forms_general.php" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="example-hf-email">Email</label>
                        <div class="col-md-9">
                            <input type="email" id="example-hf-email" name="example-hf-email" class="form-control" placeholder="Enter Email..">
                            <span class="help-block">Please enter your email</span>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-user"></i> Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="block">
                <div class="block-title">
                    <h2><strong>Заявки в друзья </strong></h2>
                </div>
                <div class="list-group">
                    <a href="javascript:void(0)" class="list-group-item">
                        <span class="badge">принять</span>
                        <h4 class="list-group-item-heading">от Юрий кармаков</h4>
                        <p class="list-group-item-text">unoegohh(unoegohh@gmail.com) </p>
                    </a>
                    <a href="javascript:void(0)" class="list-group-item">
                        <span class="badge">принять</span>
                        <h4 class="list-group-item-heading">от Юрий кармаков</h4>
                        <p class="list-group-item-text">unoegohh(unoegohh@gmail.com) </p>
                    </a>
                </div>
            </div>
        </div>
    </div>