{% for item in items %}
    <li {% if item.toTheRight %}class="toRight" {% endif %}>
        <a href="{% if item.url %}{{ item.url }}{% else %}#{% endif %}" >
            <img {% if item.active %}class="small-image"{% endif %} src="{{ item.image }}" alt="" />
        </a>
    </li>
{% endfor %}
<li class="clearfix" style="float:none"></li>