{% extends "UnoegohhShopBundle:Default:index.html.twig" %}

{% block main %}

        <div class="sixteen columns"> <h1 class="page-title">Спасибо!<span class="line"></span></h1>
        </div><!-- Page Title -->


        <div id="description">
            <div class="sixteen columns">
                <div class="description top-3 bottom-2">
                    <p>
                        Спасибо за интерес к компании Акватехника. Ваш запрос на сотрудничество принят. Наши специалисты свяжутся с вами в ближайшее время.
                    </p>
                </div>
            </div>
        </div><!-- End description -->




{% endblock %}