{% extends "UnoegohhShopBundle:Default:index.html.twig" %}

{% block main %}

        <div class="sixteen columns"> <h1 class="page-title">Спасибо!<span class="line"></span></h1>
        </div><!-- Page Title -->


        <div id="description">
            <div class="sixteen columns">
                <div class="description top-3 bottom-2">
                    <p>
                        Большое спасибо за интерес к компании "Акватехника"! Ваша заявка отправлена и будет рассмотрена в ближайшее время. Наши специалисты свяжутся с вами по указанным контактным данным.
                    </p>
                </div>
            </div>
        </div><!-- End description -->




{% endblock %}